.name1{
    width: 100%;
}
.fs{
    display: flex;
    justify-content: space-between;
    width: 17%;
    color: rgb(119, 119, 119);
}
.input-group{
    padding: 4px 850px 0px 2px;

    .form-control{
        border: 1px solid black;
    }
}
button{
    all: unset
}